.Pause {
	position: absolute;
	display: flex;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Pause>.PauseTitle {
	font-size: 100px;
	margin-bottom: 100px;
}

.Pause>.PauseContent {
	font-size: 50px;
}
